<div class="container" id="cont">

            <div class="row center">
                <div class="col-lg-3 col-sm-3">
                    <button id="btn-account" onclick="window.location='message.html'">My Messages</button>
                </div>
                <div class="col-lg-3 col-sm-3">
                    <a href="/ideas/myad"><button id="btn-account">My Ads</button></a>
                </div>
                <div class="col-lg-3 col-sm-3">
                    <button id="btn-account">Fav Ads</button>
                </div>
                <div class="col-lg-3 col-sm-3">
                    <a href="/users/logout"><button id="btn-account">Logout</button></a>
                </div>
            </div>
            <br />
           
            <div class="row" id="center">
                <div class="panel panel-primary">
                    
                    <div class="panel-heading">
                        <h1>Your Ads</h1>
                    </div>    
                    <div class="panel-body" id="ads">
                                          
                    
                    </div><!-- /.panel-body -->

                </div><!-- /.panel panel-primary -->

            </div>

            <div class="row" id="favorite">
                <div class="panel panel-primary">
                    
                    <div class="panel-heading">
                        <h1>Favorite Ads</h1>
                    </div>    
                    <div class="panel-body" id="favo">
                      
                      
                    
                    </div><!-- /.panel-body -->

                </div><!-- /.panel panel-primary -->

            </div>

        </div><!-- /.container -->